:root {
  --primary-branding-color: #9b5a56;
  --secondary-branding-color: #ffffff;
  --branding-font: "WindSong", cursive;
  --heading-font-family: "Cinzel Decorative", cursive;
  --default-font-family: "Fauna One", serif;
}

body {
  background: var(--primary-branding-color);
  font-family: var(--default-font-family);
}

.nav {
  padding: 20px;
  color: var(--secondary-branding-color);
}

.nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 13px;
}

.nav ul {
  margin: 0;
  padding: 0;
}

.nav a {
  text-decoration: none;
  color: var(--secondary-branding-color);
}

.nav a:hover,
.nav li.active a {
  color: #f4c88c;
  font-size: 17px;
  transition: all 100ms ease-in-out;
}

.logo {
  color: var(--secondary-branding-color);
  font-family: var(--branding-font);
  font-size: 35px;
  max-width: 150px;
  opacity: 50%;
}

h1 {
  font-family: var(--branding-font);
  font-size: 80px;
  color: var(--secondary-branding-color);
}

h2 {
  font-family: var(--heading-font-family);
  font-weight: regular;
  font-size: 25px;
  color: var(--secondary-branding-color);
}

p {
  font-size: 16px;
}

.hero {
  text-align: center;
  padding: 160px 20px 160px 20px;
}

.btn-branding {
  border-radius: 50px;
  font-size: 16px;
  padding: 10px 25px;
}

.seconday-heading {
  font-family: var(--heading-font-family);
  color: var(--secondary-branding-color);
  font-size: 25px;
  text-decoration-line: underline;
}

img {
  max-width: 30%;
}

.category-section {
  padding: 20px;
  border-radius: 10px;
  border: #f4c88c;
  background: #864048;
}

.browsing-links {
  font-size: 20px;
}

.browsing-links:hover {
  color: #f4c88c;
  font-size: 22px;
}

.fa-camera-retro {
  font-size: 200px;
}

@media (max-width: 900px) {
  .nav ul {
    display: block;
    margin: auto;
  }

  .nav ul li a {
    margin: 10px 0px;
  }

  h1 {
    font-size: 48px;
    text-align: center;
  }

  .portfolio-heading {
    text-align: center;
  }

  .seconday-heading {
    opacity: 50%;
  }

  .link-section {
    font-style: italic;
    text-align: center;
  }

  .category-section {
    padding: 0px;
  }
}

.about-section {
  margin-top: 50px;
  padding: 60px 20px 80px 20px;
}

.about-photo {
  border-radius: 700px;
}

.about-section h2 {
  font-size: 30px;
}

.about-section h3 {
  font-family: var(--default-font-family);
  font-size: 18px;
  color: black;
  text-transform: uppercase;
}

.about-paragraph p {
  color: black;
}

.camera-section h3 {
  padding: 0;
}
.camera-section p {
  border-radius: 30px;
  background: #864048;
  padding: 16px;
}
.camera-icon {
  max-width: 70px;
}

@media (max-width: 900px) {
  .about-section {
    text-align: center;
    padding: 0px 55px;
  }

  .about-paragraph h1 {
    padding-top: 0px;
  }

  .about-paragraph h2 {
    font-size: 20px;
    text-align: center;
  }

  .about-paragraph p {
    font-size: 13px;
  }

  .camera-section {
    padding-top: 15px;
  }
}

.gallery-hero {
  padding: 100px 2px 0px 2px;
}

.content {
  text-align: center;
}

footer {
  margin: 60px 0;
}

footer .footer-link {
  background-color: #f4c88c;
  border-radius: 50%;
  padding: 10px 14px;
  margin: 0 20px;
  transition: all 100ms ease-in-out;
}

footer .footer-link:hover {
  background-color: #864048;
}
